<% breadcrumb :root %>
<% breadcrumb :pre_codes %>
<% breadcrumb :pre_code, @pre_code %>
<% breadcrumb :pre_code_edit, @pre_code %>
<%= render "shared/breadcrumbs" %>

<% content_for :title, "PreCode編集" %>
<h1 class="text-xl font-semibold mb-4"><%= yield :title %></h1>
<%= render "form", pre_code: @pre_code %>
