<!-- app/views/books/index.html.erb -->
<h1 class="text-2xl font-semibold mb-6">教本一覧</h1>

<ul class="divide-y divide-slate-200 rounded-lg border bg-white">
  <%= render partial: "book", collection: @books, as: :book %>
</ul>
